<!--
  Generated template for the CouplesModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>couples-modal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form>
        <ion-item>
            <ion-label>name:</ion-label>
            <ion-input type="text" [(ngModel)]="couple.name" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>male bird</ion-label>
            <ion-select [(ngModel)]="couple.male" placeholder="select male" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let bird of birds" value="{{bird._id}}" disabled="{{couple.female==bird._id}}">{{bird.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>female bird</ion-label>
            <ion-select [(ngModel)]="couple.female" placeholder="select female" [ngModelOptions]="{standalone: true}">
                <ion-option  *ngFor="let bird of birds" value="{{bird._id}}" disabled="{{couple.male==bird._id}}">{{bird.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Description:</ion-label>
            <ion-input type="text" [(ngModel)]="couple.description" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
        <hr>
        <button ion-button type="submit" (click)="saveCouple()"> {{addCouple?"Add Couple":"Edit Couple"}}</button>
        <button ion-button color="light" (click)="dismiss()"> cancel</button>
    </form>

</ion-content>
