<ion-menu [content]="testing" >
  <ion-content>
    <ion-list >
      <ion-item menuClose detail-none>Home</ion-item>
      <ion-item menuClose detail-none>Notifications</ion-item>
      <ion-item menuClose detail-none>My info</ion-item>
      <ion-item menuClose detail-none (click)="chat()">Inbox</ion-item>
      <ion-item (click)="Doemchy()">My birds</ion-item>
      <ion-item menuClose detail-none>Couple My birds</ion-item>
      <ion-item menuClose detail-none>About Us</ion-item>
      <ion-item menuClose detail-none>Report a bug</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
