<ion-menu [content]="testing" >
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
  <ion-content>
    <ion-list >
      <button ion-item (click)="goHomePageFromTabs()">Home</button>
      <ion-item menuClose detail-none>Notifications (in progress)</ion-item>
      <ion-item menuClose detail-none [navPush]="profile">My Profile</ion-item>
      <ion-item menuClose detail-none [navPush]="chat">Inbox</ion-item>
      <ion-item menuClose detail-none [navPush]="myposts">My Posts</ion-item>
      <ion-item menuClose detail-none [navPush]="birdPage">My birds</ion-item>
      <ion-item menuClose detail-none [navPush]="cages">My birds in cages</ion-item>
      <ion-item menuClose detail-none [navPush]="aboutus">About Us</ion-item>
      <ion-item menuClose detail-none>Report a bug (inprogress)</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
