<ion-menu [content]="testing" >
  <ion-content>
    <ion-list >
      <ion-item menuClose detail-none>Home</ion-item>
      <ion-item menuClose detail-none>Notifications</ion-item>
      <ion-item menuClose detail-none>My info</ion-item>
      <ion-item menuClose detail-none [navPush]="chat">Inbox</ion-item>
      <ion-item menuClose detail-none [navPush]="birdPage">My birds</ion-item>
      <ion-item menuClose detail-none [navPush]="cages">My birds in cages</ion-item>
      <ion-item menuClose detail-none>About Us</ion-item>
      <ion-item menuClose detail-none>Report a bug</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
